#root {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #d2dbdc;
  margin: 0px;
  font-family: 'Segoe UI, Helvetica neue, Helvetica, Lucida, Arial';
}
.app-window {
  display: flex;
  height: 100vh;
  background-color: #ededed;
}

.sidebar {
  display: flex;
  width: 45%;
  max-width: 415px;
  flex-direction: column;
  border-right: 3px solid #ddd;
  background-color: lightgray;
}

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.header-avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}
.header-buttons {
  display: flex;
}

.header-btn {
  display: flex;
  justify-content: space-between;
  width: 7.4rem;

}

.contentarea {
  display: flex;
  width: 100%;
  /* background-color: green; */
  flex-direction: column;
  border-right: 1px solid #ddd;
}

.search-input {
  display: flex;
  margin-top: 11px;
  width: 22.4rem;
    margin-left: 18px;
  height: 27px;
}

input {
  display: flex;
  /* margin-top: 20px; */
  width: 22.4rem;
    /* width: 700px; */
  border: none;
  height: 35px;
    border-radius: 6px;
  background: #cccccc;
  padding-left: 36px;
}
.chatlist {
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
      background: #cccccc;
      /* background: green; */

}

.chat-list-container {
  display: flex;
  width: 45%;
  flex-direction: column;
  margin-left: -28px;
  align-items: left;
  justify-content: left;
  cursor: pointer;

}
.main-container {
  background: url('./intro.png') no-repeat;
  width: 100%;
  height: 90vh;
  background-size: cover;
}

;